.header {
  color: #FFFFFF;
}
label {
  color: #FFFFFF;
}
.buttonAdd{
  background-color: #FAAF18;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.inputValue{
  border-radius: 5px;
  border: none;
  font-weight: bold;
}